<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Verify Your Email</title>
      <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
      <main class="h-[80dvh] overflow-y-auto p-4 flex flex-col">
            <p class="text-xl font-bold text-red-800 text-center my-4">Welcome to Plug</p>
            <div class="my-2 flex-grow flex flex-col items-center justify-center">
                  <p>Thank you for signing up for an account on Plug. To verify your email address and unlock full access to our features, please enter the verification code below.</p>

                  <p class="my-8 text-2xl text-red-800 text-center">{{ code }}</p>
                  <p>For your security, this verification code will expire in 15 minutes.</p>
                  <p>If you didn't create an account on Plug account, please ignore this email.</p>
            </div>
      </main>
      <footer>
            <p class="text-center text-xs">&copy; 2024 Pepsa co. All rights reserved.</p>
      </footer>
</body>
</html>